In [1]:
#En utilisant les classes et méthodes définies dans le module mysql.connector, nous pouvons communiquer avec la base de données MySQL.
import mysql.connector as mysqlConnector
import pandas as pd

# Import data

In [2]:
localisation = pd.read_csv("table_localisation.csv", sep=',', encoding = "utf-8",index_col='id_local').drop(columns='Unnamed: 0').reset_index()
biens = pd.read_csv("table_bien.csv", sep=',', encoding = "utf-8", index_col=0)
table_type = pd.read_csv("table_type.csv", sep=',', encoding = "utf-8", index_col='id_type').drop(columns='Unnamed: 0').reset_index()

In [3]:
biens

      nb_de_pieces  superficie  carrez    prix  code_postal  id_local  id_type
0                4          67   False  269000        77360     169.0      0.0
1                4          91   False  420000        91120     355.0      5.0
2                4          72   False  225000        78700     215.0      0.0
3                3          58   False  210000        94190     485.0      0.0
4                3          56   False  599000        75015      14.0      0.0
...            ...         ...     ...     ...          ...       ...      ...
2358             3          65   False  263000        95660     502.0      0.0
2359             2          51   False  170000        95100     490.0      0.0
2360             4          93   False  365000        95620     540.0      5.0
2361             7         183   False  455000        95620     540.0      5.0
2362             5         103   False  327050        95820     500.0      5.0

[2346 rows x 7 columns]

# Create database

In [4]:
db = mysqlConnector.connect(
  host = "localhost",
  user = "root",
  password = "simplon2212?"
)
cur = db.cursor()

In [5]:
#con.execute("DROP DATABASE projet_paruvendu ")

In [6]:
#En utilisant la méthode execute() du curseur, nous pouvons exécuter une opération de base de données ou une requête à partir de Python. La méthode cursor.execute() prend une requête MySQL comme paramètre et retourne le resultSet, c’est-à-dire une ligne de base de données.
cur.execute("CREATE DATABASE IF NOT EXISTS projet_paruvendu")

# vérifier si une base de données existe en listant toutes les bases de données de votre système à l’aide de l’instruction « SHOW DATABASES »
cur.execute("SHOW DATABASES")
for x in cur:
  print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('projet_paruvendu',)
('sys',)

In [7]:
paruvendu_db_con = mysqlConnector.connect(user = "root",password = "simplon2212?",database='projet_paruvendu')
con = paruvendu_db_con.cursor()

con.execute("""CREATE TABLE IF NOT EXISTS localisation(
             id_local INTEGER PRIMARY KEY,
             code_insee INT,
             nom_ville VARCHAR(255),
             departement INT,
             code_postal INT,
             geometry VARCHAR(255)
             )""")

con.execute("""CREATE TABLE IF NOT EXISTS table_type(
            id_type INT PRIMARY KEY,
            type_de_bien VARCHAR(255)
            )""")

con.execute("""CREATE TABLE IF NOT EXISTS biens (
            id_bien VARCHAR(255) PRIMARY KEY,
            nb_de_pieces INT, 
            superficie NUMERIC, 
            carrez VARCHAR(255), 
            prix NUMERIC, 
            code_postal INT,
            id_local INT, 
            id_type INT
            )""")



con.execute("SHOW TABLES")

#parcourir le curseur
for table in con:
  print(table)

('biens',)
('localisation',)
('table_type',)

 ### clauses constraint
 
                CONSTRAINT fk_type
                FOREIGN KEY (id_type)
                REFERENCES table_type(id_type)
                ON DELETE CASCADE,
            CONSTRAINT fk_localisation
                FOREIGN KEY (id_local)
                REFERENCES localisation(id_local)
                ON DELETE CASCADE

# Load tables with data

## with sqlalchemy

In [8]:
from sqlalchemy import create_engine 
conn2 = create_engine("mysql+mysqlconnector://root:simplon2212?@localhost:3306/projet_paruvendu", echo=False) 
connexion_sqlalchemy = conn2.connect()

In [9]:
localisation.to_sql('localisation',connexion_sqlalchemy, if_exists = 'replace', index=True, )
table_type.to_sql('table_type',connexion_sqlalchemy, if_exists = 'replace', index=True)
biens.to_sql('biens', connexion_sqlalchemy, if_exists = 'replace', index=True)

## With sqlite3

In [10]:
import sqlite3

connexion_sqlite3 = sqlite3.connect('paruvendu.sqlite')
cursor_sqlite3 = connexion_sqlite3.cursor()


cursor_sqlite3.execute("""CREATE TABLE IF NOT EXISTS localisation(
             id_local INTEGER PRIMARY KEY,
             code_insee INT,
             nom_ville VARCHAR(255),
             departement INT,
             code_postal INT,
             geometry VARCHAR(255)
             )""")

cursor_sqlite3.execute("""CREATE TABLE IF NOT EXISTS table_type(
            id_type INT PRIMARY KEY,
            type_de_bien VARCHAR(255)
            )""")

cursor_sqlite3.execute("""CREATE TABLE IF NOT EXISTS biens (
            id_bien VARCHAR(255) PRIMARY KEY,
            nb_de_pieces INT, 
            superficie NUMERIC, 
            carrez VARCHAR(255), 
            prix NUMERIC, 
            code_postal INT,
            id_local INT, 
            id_type INT,  
            CONSTRAINT fk_type
                FOREIGN KEY (id_type)
                REFERENCES table_type(id_type),
            CONSTRAINT fk_localisation
                FOREIGN KEY (id_local)
                REFERENCES localisation(id_local)
            )""")

connexion_sqlite3.commit()

localisation.to_sql('localisation',connexion_sqlite3, if_exists = 'replace', index=False)
table_type.to_sql('table_type',connexion_sqlite3, if_exists = 'replace', index=False)
biens.to_sql('biens',connexion_sqlite3, if_exists = 'replace', index=True, index_label='id_bien')

/Users/cyrielle/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/pandas/core/generic.py:2869: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

# Data exploratory

In [60]:
query = """ 
            SELECT l.code_postal, AVG(prix/superficie) AS 'prix_m2_moyen', 
            MAX(prix/superficie) AS prix_m2_max,
            MIN(prix/superficie) AS prix_m2_min
            FROM biens b
            LEFT JOIN localisation l ON l.id_local = b.id_local
            WHERE departement = 75
            GROUP BY l.code_postal
            ORDER BY prix_m2_moyen
        """

df = pd.read_sql(query, connexion_sqlite3)
df

    code_postal  prix_m2_moyen  prix_m2_max  prix_m2_min
0         75013    9002.166667        12142         5940
1         75019    9211.354839        11875         5963
2         75020    9219.192308        12934         5365
3         75015   10268.000000        12827         7860
4         75014   10506.833333        14437         7613
5         75010   10606.000000        12903         9038
6         75012   10919.588235        12985         8673
7         75018   10925.571429        14772         7458
8         75011   11213.692308        13926         5769
9         75001   12208.333333        16750         6857
10        75017   12221.666667        18000         8829
11        75003   12226.250000        12564        11718
12        75009   12598.333333        15901        10644
13        75016   12836.238095        16666         9928
14        75116   12836.238095        16666         9928
15        75005   14939.250000        18068        12272
16        75004   15388.666667        19333        13000
17        75008   15764.250000        23000        12882
18        75002   16631.166667        23576         9981
19        75007   19819.833333        25757        13113
20        75006   21275.250000        39000        15000

In [53]:
query = """ 
            SELECT l.code_postal, AVG(prix/superficie) AS 'prix_m2_moyen', 
            MAX(prix/superficie) AS prix_m2_max,
            MIN(prix/superficie) AS prix_m2_min
            FROM biens b
            LEFT JOIN localisation l ON l.id_local = b.id_local
            WHERE departement = 75
            GROUP BY l.code_postal
            ORDER BY prix_m2_moyen
        """

df = pd.read_sql(query, connexion_sqlite3)
df

0      11225.000000
1      10676.470588
2      12352.941176
3      12166.666667
4      12380.952381
           ...
309     9928.571429
310    11045.751634
311    12405.063291
312    11529.411765
313    16071.428571
Name: prix_m2, Length: 314, dtype: float64

In [62]:
query = """ 
            SELECT l.departement, AVG(prix/superficie) AS 'prix_m2_moyen', 
            MAX(prix/superficie) AS prix_m2_max,
            MIN(prix/superficie) AS prix_m2_min
            FROM biens b
            LEFT JOIN localisation l ON l.id_local = b.id_local
            GROUP BY l.departement
            ORDER BY prix_m2_moyen
        """

df = pd.read_sql(query, connexion_sqlite3)
df

   departement  prix_m2_moyen  prix_m2_max  prix_m2_min
0           77    3094.646809        11562          433
1           91    3410.819936         7152         1133
2           95    3707.977695         7789         1521
3           78    4377.500000        10424          648
4           93    4753.477064        10678         1833
5           94    5288.278481        12551         2724
6           92    7411.743396        13946          600
7           75   11603.933121        39000         5365